/* home container styling */
.home-container{
    padding-top: 3rem;
    display: flex;
    align-items: flex-end;
    gap: 3.5rem;
}

/* sub container one styling */
.sub-container-one{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sub-container-one>h2{
    font-size: 60px;
    font-weight: 550;
}


.schedule-container{
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.schedule-btn>button{
    cursor: pointer;
    color: var(--secondary-color);
    background: var(--primary-color);
    font-size: var(--para-font-size);
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
}

#arrow-icon{
    padding-left: 25px;
}

#viewCaseStudy-link{
    color: var(--primary-color);
    font-size: 14px;
    text-decoration: underline var(--text-color);
}

.brand-container{
    padding: 40px 0px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
}

.brand-container>h6{
    font-size: var(--para-font-size);
}

.brandImages{
    display: flex;
    align-items: center;
    gap: 10px;
}

.brandImages>img{
    height: auto;
    max-width: 80px;
}

/* sub container 2 styling */

.sub-container-two{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.company-work-growth{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.computerImage{
    background: url('../assets/comp.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 230px;
    padding-right: 20px;
    border-radius: 250px 0px 0px;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.grow-stat-black{
    width: 4rem;
    height: 4rem;
    background-color: var(--primary-color);
    border-radius: 50px;
    position: absolute;
    top: -25px;
    box-shadow:  0px 5px 10px rgb(86, 86, 86);
}

.grow-stat-black, .grow-stat-green{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grow-stat-green{
    width: 1.2rem;
    height: 1.2rem;
    background: #B5DA83;
    border-radius: 4px;
}

.grow-stat-green>img{
    width: 0.8rem;
    height: 0.8rem;
}

.company-growth-data{
    width: 250px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: #F0F0F0;
    border-radius: 20px;
}

.company-growth-data>h1{
    font-size: 65px;
}

.company-growth-data>p{
    font-size: 15px;
    padding-bottom: 15px;
    color: #6c6c6c;
    font-weight: 530;
}

.bar-stat-container{
    width: 100%;
    height: 5px;
    background: #D8D8D8;
}

.bar-stat-rate{
    width: 70%;
    height: 5px;
    background: var(--primary-color);
}

/* sub conatiner, 2nd div styling */
.company-sales-stat{
    width: 100%;
    height: 190px;
    background: var(--primary-color);
    border-radius: 20px;
}

.company-sales-data-stat{
    width: 100%;
    height: 100%;
    background: url('../assets/statimage.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--secondary-color);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    position: relative;
}

.company-mission-text{
    padding: 0px 10px;
}

.company-mission-text-line-data{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px 0px 20px 0px;
}

.company-mission-text-line-data>.line{
    height: 1px;
}

.company-mission-text-line-data>p{
    font-size: 15px;
    color: #e6e5e5;
}

.company-mission-text>h2{
    font-size: 30px;
    font-weight: 400;
}

.company-sales-rates{
   display: flex;
   width: 50%;
}

.company-sales-rates-bar{
    display: flex;
    align-items: flex-end;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.stat-light-green{
    height: 70px;
    width: 50px;
    background: #BAE289;
}

.stat-green{
    height: 100px;
    width: 50px;
    background: #9ACF65;
}

.stat-dark-green{
    height: 130px;
    width: 50px;
    background: #7BB34E;
}


@media (max-width: 900px) {
    /* home container styling */
    .home-container{
        padding-top: 2.5rem;
        gap: 2rem;
    }

    .sub-container-one{
        gap: 20px;
    }

    .sub-container-one>h2{
        font-size: 40px;
    }

    .schedule-container{
        gap: 2rem;
    }

    .schedule-btn>button{
        font-size: 12px;
        padding: 7px 20px;
    }

    #arrow-icon{
        padding-left: 15px;
    }

    #viewCaseStudy-link{
        font-size: 12px;
    }

    .brand-container{
        padding: 30px 0px;
        gap: 1rem;
    }

    .brand-container>h6{
        font-size: 12px;
    }

    .brandImages{
        gap: 8px;
    }

    .brandImages>img{
        height: auto;
        max-width: 70px;
    }

    /* sub container 2 styling */
    .company-work-growth{
        gap: 15px;
    }

    .computerImage{
        width: 180px;
        height: 150px;
        padding-right: 15px;
    }

    .company-growth-data{
        width: 150px;
        height: 150px;
        padding: 10px;
    }

    .company-growth-data>h1{
        font-size: 43px;
    }

    .company-growth-data>p{
        font-size: 10px;
    }

    .bar-stat-container,.bar-stat-rate{
        height: 4px;
    }

    /* sub conatiner, 2nd div styling */
    .company-sales-stat{
        width: 100%;
        height: 120px;
    }

    .company-sales-data-stat{
        padding: 10px;
    }

    .company-mission-text-line-data>.line{
        width: 30px;
        height: 0.7px;
    }

    .company-mission-text-line-data>p{
        font-size: 8px;
    }

    .company-mission-text>h2{
        font-size: 20px;
    }

    .company-sales-rates-bar{
        gap: 7px;
        right: 10px;
    }
    .stat-light-green, .stat-green, .stat-dark-green{
        width: 25px;
    }
    .stat-light-green{
        height: 50px;
    }

    .stat-green{
        height: 70px;
    }

    .stat-dark-green{
        height: 90px;
    }

}