/* navbar container styling */
.navbar-container{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

/* Logo and brandname styling */
.logo-brand-name{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    justify-content: start;
    padding-right: 100px;
}

.main-brand-name{
    padding-left: 5px;
}

.brand-logo-green{
    width: 2rem;
    height: 2rem;
    background-color: #A6F254;
    border-radius: 0px 0px 50px 0px;
}

.brand-logo-black{
    width: 1rem;
    height: 1rem;
    background-color: #000000;
    border-radius: 0px 0px 50px 0px;
    position: relative;
    top: 10px;
    left: 10px;
}

/* nav links styling */
.navbar-links>ul{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    gap: 50px;
}

.navbar-links>ul>li{
    list-style: none;
}

.nav-items{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-items>p{
    padding-right: 5px;
}

.nav-items>img{
    width: 10px;
    height: auto;
}

/* Get started and notification styling */

.get-started{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 10px;
}

#get-started-btn{
    border-radius: 50px;
    font-size: 15px;
    padding: 10px 25px;
    font-weight: 500;
    background: none;
    border: solid 1px #000000;
}


.bell{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell>img{
    position: relative;
}
