/* navbar container styling */
.navbar-container{
    padding: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

/* Logo and brandname styling */
.logo-brand-name{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 550;
    justify-content: start;
    padding-right: 3.5rem;
}

.main-brand-name{
    padding-left: 0.5rem;
}

.brand-logo-green{
    width: 2rem;
    height: 2rem;
    background-color: #A6F254;
    border-radius: 0px 0px 50px 0px;
}

.brand-logo-black{
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-color);
    border-radius: 0px 0px 50px 0px;
    position: relative;
    top: 9px;
    left: 9px;
}

/* nav links styling */
.navbar-links>ul{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
    gap: 2rem;
}

.navbar-links>ul>li{
    list-style: none;
}

.nav-items{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-items>p{
    padding-right: 5px;
}

.nav-items>img{
    width: 10px;
    height: auto;
}

/* Get started and notification styling */
.get-started{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 10px;
}

#get-started-btn{
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 30px;
    font-weight: 550;
    background: none;
    border: solid 2px var(--primary-color);
}


.bell{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell>img{
    position: relative;
    width: 15px;
    height: auto;
}


@media (max-width: 900px) {
    /* Logo and brandname styling */
    .logo-brand-name{
        font-size: 25px;
        padding-right: 2rem;
    }

    .main-brand-name{
        padding-left: 0.4rem;
    }

    .navbar-links>ul{
        font-size: 14px;
        font-weight: 550;
        gap: 1rem;
    }

    .nav-items>p{
        padding-right: 4px;
    }

    .get-started{
        gap: 7px;
    }

    #get-started-btn{
        font-size: 14px;
        padding: 8px 20px;
    }


    .bell{
        width: 35px;
        height: 35px;
    }

    .bell>img{
        width: 12px;
    }
  }