.service-container{
    padding-top: 3rem;
}

.service-data-container{
    display: flex;
    gap: 4rem;
}


.service-data-container>h3, 
.service-data-container>p{
    width: 50%;
}

.service-data-container>h3{
    font-size: 40px;
    font-weight: 550;
}

.service-data-container>p{
    color: rgb(161, 161, 161);
    font-size: var(--para-font-size);
}

.projects-service-container{
    display: flex;
    gap: 20px;
    padding-top: 2rem;
}

.project-data-container-main{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 20px;
}

.project-data-container{
    padding: 20px 30px;
    background: url('../assets/statimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    border-radius: 20px;
    overflow: hidden;
}

.people{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.people>#more-people{
    font-size: 50px;
    font-weight: 750;
    padding-left: 5px;
}

.people>img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.project-count{
    display: flex;
    flex-direction: column;
}

.project-count>h1>span{
    color: #A5D080;
}

.project-count>h1{
    font-size: 65px;
    word-spacing: -8px;
    font-weight: 550;
}

.project-count>p{
    font-size: 15px;
    color: rgb(161, 161, 161);  
}

/* group discussion container */
.group-discussion{
    background: url('../assets/groupDisscussion.png');
    width: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.group-discussion>h1{
    font-size: 40px;
    font-weight: 400;
    word-spacing: 15px;
    letter-spacing: 5px;
}

.play-btn, .play-btn-green, .play-btn-black{
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn{
    background: #F7F7F7;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    right: -25px;
}

.play-btn-green{
    background: #99E948;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.play-btn-black>img{
    width: 40px;
    height: 40px;
}

@media (max-width : 900px) {
    .service-container{
        padding-top: 2rem;
    }
    
    .service-data-container{
        gap: 1rem;
    }
    
    .service-data-container>h3{
        font-size: 30px;
    }
    
    .service-data-container>p{
        font-size: 12px;
    }
    
    .projects-service-container{
        gap: 15px;
        padding-top: 1.5rem;
    }
    
    .project-data-container{
        padding: 10px 20px;
        gap: 3rem;
    }
    
    .people{
        gap: 2px;
    }
    
    .people>#more-people{
        font-size: 25px;
    }
    
    .people>img{
        width: 30px;
        height: 30px;
    }
    
    .project-count>h1{
        font-size: 40px;
        word-spacing: -5px;
    }
    
    .project-count>p{
        font-size: 10px; 
    }
    
    /* group discussion container */
    .group-discussion>h1{
        font-size: 30px;
        word-spacing: 12px;
    }
    
    .play-btn{
        width: 100px;
        height: 100px;
    }
    
    .play-btn-green{
        width: 80px;
        height: 80px;
    }
    
    .play-btn-black>img{
        width: 20px;
        height: 20px;
    }
}